* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: #ffefe0;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav {
  align-items: center;
  background-color: #ffdab9;
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#form {
  background: #ffd0a5;
  padding: 5px;
  width: 100vw;
  max-width: 400px;
  align-self: center;
}

#form > textarea {
  width: 100vw;
}

button#submit,
button#update {
  padding: 1em;
  background: blue;
  color: white;
  text-emphasis: bold;
  font-size: 1em;
  transition: all 1s ease;
  outline: none;
  letter-spacing: 0.1em;
  align-self: center;
}

button#delete {
  margin: 0.5em;
  padding: 0.5em;
  background: darkred;
  color: white;
  text-emphasis: bold;
  font-size: 0.5em;
  max-width: 100px;
  align-self: center;
}

button#addTo {
  margin: 0.5em;
  padding: 0.5em;
  background: blue;
  color: white;
  text-emphasis: bold;
  font-size: 0.6em;
  max-width: 100px;
  align-self: center;
}

button#removeFrom {
  margin: 0.5em;
  padding: 0.5em;
  background: darkred;
  color: white;
  text-emphasis: bold;
  font-size: 0.6em;
  max-width: 150px;
  align-self: center;
}

h4 {
  text-decoration: underline;
}

.warning {
  text-emphasis: bold;
  color: red;
}

#allListing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#list-item-campus {
  flex: 1 1 300px;
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.list-item-campus-image {
  justify-content: center;
  margin: 5px;
}

.list-item-campus-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}

#list-item-student {
  flex: 1 1 200px;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.list-item-student-image {
  justify-content: center;
  margin: 5px;
}

.list-item-student-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}

#add-new-campus,
#add-new-student {
  align-self: center;
}

#allStudents {
  width: 100vw;
  height: 100vh;
}

.nav-item {
  margin: 20px;
  font-size: 1.2em;
}

.textImageTiny {
  font-size: 1em;
  padding: 5px;
}

.imageTiny {
  max-width: 30px;
  max-height: 30px;
}

.imageSmall {
  max-width: 70px;
  max-height: 70px;
}

.imageBig {
  max-width: 150px;
  max-height: 200px;
}

.imageLarge {
  max-width: 500px;
  max-height: 400px;
}

#aStudent {
  width: 100vw;
  height: 100vh;
}

.aStudentInfo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#aCampus {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.aCampusInfo {
  flex: 3 1 0;
  justify-content: center;
}

.aCampusInfoExtra {
  flex: 2 1 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#aCampusInfoStudents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#aCampusInfoStudentsList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.aCampusInfoStudentsList-item {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.aCampusInfoButtons {
  /* display: flex;
  flex-direction: column; */
  justify-self: center;
}

#student-options {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Select-student-option {
  height: 5vmin;
  margin: 20px;
  font-size: calc(5px + 2vmin);
}

select {
  height: 4vmin;
  font-weight: 700;
  margin: 5px;
  align-self: center;
}

#aStudentInfoButtons {
  display: flex;
  justify-content: space-evenly;
}
