* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: #ffefe0;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav {
  align-items: center;
  background-color: #ffdab9;
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#form {
  background: #ffd0a5;
  padding: 10px;
  width: 100vw;
  max-width: 500px;
}

#form > textarea {
  width: 100vw;
}

button#submit,
button#update {
  padding: 1em;
  background: blue;
  color: white;
  text-emphasis: bold;
  font-size: 1em;
  transition: all 1s ease;
  outline: none;
  letter-spacing: 0.1em;
}

button#delete {
  margin: 0.5em;
  padding: 0.5em;
  background: darkred;
  color: white;
  text-emphasis: bold;
  font-size: 0.8em;
  max-width: 200px;
  align-self: center;
}

h4 {
  text-decoration: underline;
}

.warning {
  text-emphasis: bold;
  color: red;
}

#allListing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#list-item-campus {
  flex: 1 1 300px;
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#list-item-student {
  flex: 1 1 200px;
  font-size: 1.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#add-new-campus,
#add-new-student {
  align-self: center;
}

#allStudents {
  width: 100vw;
  height: 100vh;
}

.nav-item {
  margin: 20px;
  font-size: 1.2em;
}

.imageSmall {
  max-width: 50px;
  max-height: 50px;
}

.imageBig {
  max-width: 200px;
  max-height: 200px;
}

.imageLarge {
  max-width: 300px;
  max-height: 300px;
}

#aStudent {
  width: 100vw;
  height: 100vh;
}

#aCampus {
  width: 100vw;
  height: 100vh;
}

#aCampusInfo {
  display: flex;
  justify-content: space-evenly;
}

#aCampusInfoButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
